{% extends 'flatpages/default.html' %}
{%load custom_filters%}

{% block title %}
Post/news
{% endblock title %}

{% block content %}
   <h1>Новости / Статьи</h1>



   <hr>
   {% if posts %}
       <table>
           <tr> всего новостей - {{posts| length}}</tr>
           <tr>
               <td>Заголовок</td>
               <td>Время поста</td>
               <td>текст</td>
               <td>рейтинг</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title | censor}}</td>
               <td>{{ post.time_in |date:'d m y'}}</td>
               <td>{{ post.text | truncatewords:10 | censor}}</td>
               <td>{{ post.post_rating}}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}

